<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ceci</title>
    <link rel="stylesheet" href="static/css/index.css" />
  </head>
  <body>
    <header class="cabecalho container">
      <div class="cabecalho__logo">
        <img src="static/img/icone-chatbot.jpeg" alt="Logo Chatbot" />
      </div>
      <h1>Lar Cecília Maria</h1>
    </header>
    <main class="main">
      <section class="chat container" id="chat">
        <p class="chat__bolha chat__bolha--bot">
          Olá! Eu sou a Ceci 🐾, mascote da nossa Organização sem fins
          lucrativos de adoção responsável, Lar Cecília Maria!<br><br>
          Qual é o seu nome? 
        </p>
      </section>
      <section class="entrada container">
        <div class="entrada__container">
          <input
            type="text"
            class="entrada__input"
            placeholder="Enviar uma mensagem"
            id="input"
          />
          <button aria-label="Botão de enviar" id="botao-enviar">
            <div class="icone icone--enviar-mensagem" />
          </button>
        </div>
      </section>
    </main>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="static/js/index.js"></script>
</html>
